/* src/styles/AddInterns.css */

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #dfdddd;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  
  }
  header h1 {
   
    font-size: 24px;
    margin-left: 15px;
  }
  
  .close-btn {
    color: black;
    border: none;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 30px;
  }
  
  .close-btn:hover {
    background-color: red;
    color: white;
    transition: 0.3s ease;
  }
  .container {
    width: 100%;
    margin-top: 70px; 
    margin-bottom: 70px;
    padding: 20px;
  }   
  .content-section {
    display: flex;
    align-items: flex-start;
  }
  
  .photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
  }
  
  .image-box {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    background: #eee;
  }
  
  .upload-btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: rgb(29, 87, 212);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    gap: 4px;
    cursor: pointer;
  }
  .upload-btn input{
    display: none;
  
  }
  .form-box {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    color: #333333;
    width: 70%;
    margin-left: 40px;
    text-align: left;
  }
  
  .employee-form {
    width: 100%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-row label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #615e5e;
  }
  
  .form-row input,
  .form-row select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form-row input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
  .form-group {
    width: 48%;
  }
  
  .advanced {
    margin-top: 20px;
  }
  .personal-details h2,.work h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .personal-details hr,.work hr {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background: #dfdddd;
  }
  .form-row {
  margin-bottom: 20px;
  }
  
  .form-group {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  }
  
  .notification-container {
  display: flex;
  }
  
  .notification-heading {
  margin-right: 10px;
  }
  
  .checkbox-label {
  margin-bottom: 5px;
  margin-left: 20px;
  }
  .close-work-btn{
  color: white;
  background-color: rgb(29, 87, 212);
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  }
  .check-box{
  cursor: pointer;
  }
  .add-mngr{
    background-color: rgb(29, 87, 212);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  .add-mngr:hover{
    background-color: #fff;
    color: rgb(29, 87, 212);
    box-shadow: 0px 4px 6px rgba(29, 87, 212, 0.5);
  }
  /* footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #dfdddd;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  }
  
  .create-btn {
    background: rgb(29, 87, 212);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 30px;
  }
   */
  /* Media Queries for Responsiveness */
  
  @media (max-width: 600px) {
  .content-section {
      flex-direction: column;
      align-items: center;
  }
  .photo-section{
    margin: auto;
  }
  .form-group {
      width: 100%;
  }
  .form-row input ,.form-row select{
    width: 95%;
  }
  .form-box {
      margin: 0;
      width: 90%;
  }
  .photo-section {
      margin-bottom: 20px;
  }
  }
  
  
  @media (min-width: 600px) and (max-width: 900px) {
  .form-group {
      width: 48%;
  }
  
  .form-box {
      width: 80%;
      margin-right: 30px;
  }
  .photo-section{
    margin-right: 30px;
  }
  }
  
  