/* src/styles/EmployeeDashboard.css */
/* css for navigation bar */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navigation bar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: rgb(88, 73, 172);
  font-size: 24px;
  text-decoration: none;
}

/* Menu icon for mobile */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.3s;
}

/* Nav links */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative;
}

.nav-links li a {
  color: rgb(88, 73, 172);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  position: relative;
}

.nav-links li a:hover {
  background-color: rgb(88, 73, 172);
  color: #fff;
  border-radius: 5px;
}

.nav-links li a.active {
  background-color: rgb(88, 73, 172);
  color: #fff;
  border-radius: 4px;
}

/* .nav-links li a.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #ff9800;
  border-radius: 2px;
} */

/* Dropdown styles */
.nav-links li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-links li .dropdown-content a {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(88, 73, 172);
}

.nav-links li .dropdown-content a:last-child {
  border-bottom: none;
}

.nav-links li .dropdown-content a:hover {
  background-color: rgb(88, 73, 172);
  color: #fff;
}

/* Display dropdown on hover for laptop */
.nav-links li:hover .dropdown-content {
  display: block;
  opacity: 1;
}

/* Menu icon transformation */
.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-icon {
    display: flex; /* Show menu icon on small screens */
  }

  .nav-links {
    display: none; /* Hide links initially on mobile */
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: black;
    padding-top: 60px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0); /* Slide in effect */
  }

  .nav-links li {
    margin: 10px 0;
    text-align: left;
  }

  .nav-links li a {
    color: white;
  }

  .nav-links li .dropdown-content {
    display: none;
    flex-direction: column;
    background-color: black;
    width: 100%;
    position: relative;
  }

  .nav-links li .dropdown-content.show {
    display: block;
  }

  .nav-links li .dropdown-content a {
    padding: 10px 15px;
    color: white;
    border-bottom: 1px solid rgb(88, 73, 172);
  }

  .nav-links li .dropdown-content a:last-child {
    border-bottom: none;
  }
}

/* css for employee- dashboard  Home section*/
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 80px;
}

.left-side {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-section {
  text-align: center;
}

.profile-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.employee-name {
  margin: 10px 0 5px 0;
  font-size: 22px;
  color: #555555;
}

.employee-role {
  margin: 0;
  font-size: 16px;
  color: #777777;
}

.work-duration {
  background-color: rgb(88, 73, 172);
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.work-duration p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.button-section {
  margin-top: 10px;
  text-align: center;
}

.punch-button {
  padding: 5px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #5849ac;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.punch-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.attendance-leaves-awards {
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 73, 172);
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.attendance-column,
.leaves-column,
.awards-column {
  text-align: center;
}

.number {
  margin: 0;
  font-size: 18px;
  color: white;
}

.label {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: white;
}

.birthdays-section {
  text-align: left;
}

.birthdays-section p {
  font-size: 18px;
  color: #555555;
  margin: 0 0 10px 0;
}

.cake-img {
  width: 15px;
  margin-left: 5px;
}

.birthday-person {
  display: flex;
  align-items: center;
}

.birthday-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.birthday-person p {
  margin: 0;
  font-size: 14px;
  color: #555555;
}

.right-side {
  flex: 2;
  padding-left: 20px;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.personal-company-details {
  flex: 1;
  margin-right: 20px;
}

.details {
  background-color: rgb(88, 73, 172);
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.details h3 {
  margin: 0;
  font-size: 14px;
  color: white;
}

.personal-details,
.company-details,
.notice-board,
.upcoming-holidays,
.overall-ticket {
  background-color: #ffffff;
  color: #777777;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.notice-board-upcoming-holidays {
  flex: 1;
}

.notice-space {
  width: 100%;
  height: 200px;
  border: 1px solid #ddd9d9;
  text-align: center;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notice-space::-webkit-scrollbar {
  display: none;
}
.notice-space p {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding: 8px;
  border-radius: 5px;
  text-align: left;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd9d9;
}

/* css for overall ticket */

.overall-ticket .tickets {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.overall-ticket .tickets .ticket-raised,
.open-ticket,
.close-ticket {
  font-weight: bold;
  color: #000;
}
.overall-ticket .tickets i {
  color: #5849ac;
}
.upcoming-holidays .holiday {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.upcoming-holidays .holiday:nth-child(2) {
  background-color: #e8f5e9;
  color: #388e3c;
}

.upcoming-holidays .holiday:nth-child(3) {
  background-color: #fffde7;
  color: #fbc02d;
}

.upcoming-holidays .holiday:nth-child(4) {
  background-color: #e3f2fd;
  color: #1976d2;
}

.upcoming-holidays .holiday:nth-child(5) {
  background-color: #ffebee;
  color: #d32f2f;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    padding: 15px;
    padding-top: 80px;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    padding-left: 0;
  }

  .details-container {
    flex-direction: column;
  }

  .personal-company-details {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .personal-details {
    margin-top: 20px;
  }

  .profile-image {
    width: 100%;
    height: auto;
  }
  .attendance-column,
  .leaves-column,
  .awards-column {
    width: 100%;
    margin-bottom: 10px;
  }

  .notice-board-upcoming-holidays {
    flex-direction: column;
  }

  .notice-board,
  .upcoming-holidays {
    width: 100%;
  }
}

/* css for leaves- request section */
.request-section {
  padding: 20px;
  padding-top: 80px;
}

.request-nav {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.request-nav button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  color: rgb(88, 73, 172);
}

.request-nav button.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
}

.request-content h1 {
  text-align: center;
}

@media (max-width: 768px) {
  .request-nav {
    flex-direction: column;
  }

  /* .request-nav button {
    margin-bottom: 10px;
  } */

  .request-nav button.active::after {
    /* bottom: -3px;  */
    display: none;
  }
  .request-nav button.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
  }
}

/* css for leaves-request-leave section  */
.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left-block {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  height: 250px;
}
.left-block h4 {
  font-size: 15px;
  line-height: 30px;
}
.left-block .date-section,
.left-block .leave-contact-section,
.left-block .joining-date-section {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.left-block .joining-date-section {
  border-bottom: none;
}

.right-block {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}

.leave-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.leave-form .form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.leave-form .form-row.full-width {
  flex-direction: column;
}
.form-row input,
.form-row select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.leave-form .form-row .add {
  width: 50px;
  color: #fff;
  background-color: rgb(88, 73, 172);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  align-self: flex-start;
  cursor: pointer;
}

.previous-leaves-table {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}

.previous-leaves-table h4 {
  margin-bottom: 10px;
  text-align: left;
}

.previous-leaves-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.previous-leaves-table th,
.previous-leaves-table td {
  padding: 8px;
  text-align: left;
  border: none;
}

.previous-leaves-table th {
  color: #555555;
  font-size: 15px;
  background-color: transparent;
}

.previous-leaves-table td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}

.previous-leaves-table td button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.previous-leaves-table td button.cancel {
  background-color: #dc3545;
}
.previous-leaves-table .div-table {
  overflow: auto;
}
/* Responsive styles */
@media (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
  }

  .left-block,
  .right-block {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .leave-form .form-row {
    flex-direction: column;
  }

  .previous-leaves-table table {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .leave-form .form-row {
    flex-direction: column;
    gap: 5px;
  }

  .leave-form .form-row .add {
    width: 100%;
    padding: 10px;
  }

  .previous-leaves-table table {
    font-size: 12px;
  }

  .previous-leaves-table th,
  .previous-leaves-table td {
    padding: 6px;
  }
}

/* css for attendance-regularization section */
.attendance-search-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.search-inputs {
  display: flex;
  gap: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.search-inputs input[type="date"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 0;
}

.search-inputs .search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(88, 73, 172);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.search-inputs .search-button:hover {
  background-color: rgb(108, 88, 223);
}

.search-button-bottom {
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.search-button-bottom:hover {
  color: black;
}

/* Table Section */
.attendance-regularization-table-section {
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}

.attendance-regularization-table-section table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.attendance-regularization-table-section th,
.attendance-regularization-table-section td {
  padding: 8px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

.attendance-regularization-table-section th {
  border: none;
  font-size: 15px;
  color: #555555;
  background-color: transparent;
}

.attendance-regularization-table-section td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}

.attendance-regularization-table-section td .update-button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.attendance-regularization-table-section td .update-button:hover {
  background-color: #218838;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 10px;
}

.pagination p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-controls span {
  font-size: 16px;
  color: #333;
}

.pagination-controls input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .attendance-regularization-section {
    padding: 15px;
  }

  .search-inputs {
    padding: 15px;
    gap: 5px;
  }

  .search-inputs input[type="date"] {
    font-size: 14px;
  }

  .search-inputs .search-button,
  .search-button-bottom {
    font-size: 14px;
    padding: 8px 16px;
  }

  .attendance-regularization-table-section table {
    font-size: 14px;
  }

  .pagination-controls input[type="number"] {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .attendance-regularization-section {
    padding: 10px;
  }

  .search-inputs {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .search-inputs input[type="date"] {
    width: 100%;
    font-size: 14px;
  }

  .search-inputs .search-button,
  .search-button-bottom {
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }

  .attendance-regularization-table-section th,
  .attendance-regularization-table-section td {
    font-size: 12px;
  }

  .attendance-regularization-table-section td .update-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .pagination p {
    font-size: 12px;
  }

  .pagination-controls input[type="number"] {
    width: 40px;
    padding: 4px;
    font-size: 14px;
  }
}

/* CSS for On Duty/Work From Home Section */

.form-block {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 100%;
}

.input-group label {
  width: 120px;
}

.input-group input,
.input-group select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  max-width: calc(100% - 130px);
}
.input-group.day-type-group select {
  flex: 0 0 200px;
}
.save-button {
  display: block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

.save-button:hover {
  background-color: #45a049;
}

.no-record-block {
  background-color: #ffdab9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}
/* Media Query for Tablets */
@media (max-width: 1024px) {
  .input-row {
    flex-direction: column;
  }

  .input-group {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .input-group:last-child {
    margin-bottom: 0;
  }

  .input-group input,
  .input-group select {
    max-width: 100%;
  }

  .input-group.day-type-group select {
    flex: 1;
    width: 100%;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .form-block {
    padding: 15px;
  }

  .input-row {
    flex-direction: column;
  }

  .input-group {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }

  .input-group input,
  .input-group select {
    max-width: 100%;
    width: 100%;
  }

  .input-group.day-type-group select {
    flex: 1;
    width: 100%;
  }

  .save-button {
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }

  .no-record-block {
    font-size: 14px;
  }
}

/* start css for my-report page */
.report-section {
  padding: 20px;
  padding-top: 80px;
}

.report-nav {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.report-nav button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  color: rgb(88, 73, 172);
}
/* .report-nav button.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
} */
.report-nav button.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
}

.report-content h1 {
  text-align: center;
}

@media (max-width: 768px) {
  .report-nav {
    flex-direction: column;
  }

  /* .report-nav button {
    margin-bottom: 10px;
  } */

  .report-nav button.active::after {
    /*  bottom: -3px;  */
    display: none;
  }
  .report-nav button.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
  }
}

/* css for my report==leave-balance section */

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-right: 20px;
}

.search-container input {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.leave-balance-table {
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow: auto;
}

.leave-balance-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.leave-balance-table th,
.leave-balance-table td {
  padding: 8px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

.leave-balance-table th {
  border: none;
  font-size: 15px;
  color: #555555;
  background-color: transparent;
}

.leave-balance-table td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}

.leave-balance-table td .action-button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 8px;
}

.leave-balance-table td .action-button:last-child {
  margin-right: 0;
}

.leave-balance-table td .action-button:hover {
  background-color: #218838;
}

/* leave-balance -Pagination */
.leave-balance-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.leave-balance-pagination p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.leave-balance-pagination-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leave-balance-pagination-controls span {
  font-size: 16px;
  color: #333;
}

.leave-balance-pagination-controls input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .search-container input {
    margin: auto;
  }
}
/* css for in out details section */

.report-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.filter-block {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.filter-block label {
  margin-bottom: 5px;
  text-align: left;
}

.filter-block input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-block {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.searchleave-button,
.export-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchleave-button {
  background-color: orange;
}

.searchleave-button:hover {
  background-color: darkorange;
}

.export-button {
  background-color: rgb(40, 31, 78);
}

.export-button:hover {
  background-color: rgb(108, 88, 223);
}

.table-container {
  margin-top: 20px;
}

.search-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.search-btn input {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.in-out-table-section {
  margin-top: 30px;
  background-color: transparent;
  overflow: auto;
}

.in-out-details-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.in-out-details-table th,
.in-out-details-table td {
  padding: 8px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

.in-out-details-table th {
  border: none;
  font-size: 15px;
  color: #555555;
  background-color: transparent;
}

.in-out-details-table td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}

/* inout-details Pagination */
.inout-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.inout-pagination p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.inout-pagination-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inout-pagination-controls span {
  font-size: 16px;
  color: #333;
}

.inout-pagination-controls input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* media query for in-out details */
@media (max-width: 768px) {
  .search-btn input {
    margin: auto;
  }
}

/* css for leave details section */

.leave-details-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.leave-details-block {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.leave-details-block label {
  margin-bottom: 5px;
  text-align: left;
}

.leave-details-block input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-block {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.search-button,
.download-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  background-color: orange;
}

.search-button:hover {
  background-color: darkorange;
}

.download-button {
  background-color: rgb(40, 31, 78);
}

.download-button:hover {
  background-color: rgb(108, 88, 223);
}
.table-block {
  margin-top: 30px;
  border-radius: 5px;
  overflow: auto;
}

.leave-details-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.leave-details-table th,
.leave-details-table td {
  padding: 8px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

.leave-details-table th {
  border: none;
  font-size: 15px;
  color: #555555;
  background-color: transparent;
}

.leave-details-table td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}

.status-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s;
}

.status-button.approved {
  background-color: #28a745;
}

.status-button.approved:hover {
  background-color: #218838;
}

/* leave-details Pagination */
.leave-details-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.leave-details-pagination p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.leave-details-pagination-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leave-details-pagination-controls span {
  font-size: 16px;
  color: #333;
}

.leave-details-pagination-controls input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* media query for leave details */
@media (max-width: 768px) {
  .button-block {
    margin: auto;
  }
}

/* css for annual-attendance-summary */
.first-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.first-block label {
  margin-right: 10px;
  font-size: 15px;
}
.first-block select {
  width: 30%;
  margin-right: 20px;
}
.first-block .srch-button,
.first-block .exprt-button {
  color: white;
  border: none;
  padding: 10px 100px;
  cursor: pointer;
  border-radius: 5px;
}

.first-block .srch-button {
  background-color: orange;
  color: white;
  margin-right: 10px;
}
.first-block .srch-button:hover {
  background-color: darkorange;
}
.first-block .exprt-button {
  background-color: rgb(40, 31, 78);
  color: white;
}
.first-block .exprt-button:hover {
  background-color: rgb(108, 88, 223);
}
/* .attendance-table-section {
  display: flex;
  justify-content: center; 
  width: 100%;
} */

@media (max-width: 768px) {
  .first-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .first-block select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .first-block .srch-button,
  .first-block .exprt-button {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
  }
}

/* Table styling */
.second-block {
  overflow: auto;
}
.attendance-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* Table headers and cells styling */
.attendance-table th,
.attendance-table td {
  padding: 8px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

/* Table headers styling */
.attendance-table th {
  border: 1px solid #ddd;
  font-size: 15px;
  color: #555555;
  background-color: transparent;
}

/* Table cells styling */
.attendance-table td {
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
.attendance-table td.P {
  background-color: rgb(99, 168, 99);
  color: white;
}

.attendance-table td.A {
  background-color: red;
  color: white;
}

.attendance-table td.I {
  background-color: rgb(204, 144, 204);
  color: white;
}

.attendance-table td.SL,
.attendance-table td.CL {
  background-color: white;
  color: black;
}

.attendance-table td.H {
  background-color: pink;
  color: black;
}

.attendance-table td.W {
  background-color: grey;
  color: white;
}

.attendance-table td.FH-SL-P {
  background-color: #f5f5f5;
  color: black;
  font-weight: bold;
}

/* css for holidays  */

/* .holidays-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} */

.holidays-buttons {
  display: flex;
}

.holidays-buttons button {
  background-color: rgb(40, 31, 78);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.holidays-buttons button:hover {
  background-color: rgb(108, 88, 223);
}

.holidays-table-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.holidays-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.holidays-table th,
.holidays-table td {
  padding: 8px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

.holidays-table th {
  border: none;
  font-size: 15px;
  color: #555555;
  background-color: transparent;
}

.holidays-table td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}

/*============== css for chat section================================================================================== */

.chat-app {
  display: flex;
  height: 100vh;
  padding-top: 60px;
}
.chat-sidebar {
  width: 70px;
  background-color: #e6e9ef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-right: 1px solid #e0e0e0;
  box-shadow: inset 2px 0px 6px rgba(0, 0, 0, 0.1);
}
.chat-sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.chat-sidebar-icon {
  text-align: center;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}
.chat-sidebar-icon:hover {
  color: rgb(108, 88, 223);
}
.chat-sidebar-icon p {
  font-size: 12px;
  margin-top: 5px;
  color: #666;
}
.chat-sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.fa-gear {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-top: 190px;
}
.fa-gear:hover {
  color: rgb(108, 88, 223);
}
.hidden {
  display: none;
}
.chat-sidebar-icon .gear-icon p {
  display: none;
}
.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  object-fit: cover;
}

/* css for chat-list =====================================*/
.chat-list {
  width: 300px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.chat-list-header,
.chat-search-bar {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  z-index: 1;
}
.chat-list-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.chat-list-header,
.chat-search-bar {
  position: relative;
}
.chat-list-header h1 {
  font-size: 25px;
}
.chat-icons {
  display: flex;
  align-items: center;
}
.chat-icons .icon-container {
  margin-left: 10px;
  font-size: 20px;
}
.chat-icons .icon-container:first-child {
  margin-left: 0;
}
.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.icon-container:hover {
  color: rgb(108, 88, 223);
}
.icon-container::after {
  content: attr(data-tooltip);
  position: absolute;
  /* top: 100%;  */
  right: 100%;
  transform: translate(-10%, 10%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  margin-top: 5px;
  transition: opacity 0.3s ease;
}
.icon-container:hover::after {
  opacity: 1;
  visibility: visible;
}
/* css for search bar */
.chat-search-bar {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #f3f0ff;
}

.chat-search-bar .search-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.chat-search-bar .search-input::placeholder {
  color: #aaa;
}
/* css for chat-previews */
.chat-previews {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
  margin-top: 15px;
}
.chat-preview {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.chat-preview:hover {
  background-color: #ffffff;
}
.img-profile {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.preview-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
}
.preview-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.preview-name {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.preview-time {
  font-size: 12px;
  color: #888;
}

.preview-message {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
/* css for chat-area */
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-header-left {
  display: flex;
  align-items: center;
}

.profile-main {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.chat-name {
  font-weight: bold;
}

.chat-header-icons {
  display: flex;
  gap: 20px;
}

.chat-header-icons i {
  font-size: 18px;
  cursor: pointer;
}
.chat-header-icons i:hover {
  color: rgb(108, 88, 223);
}
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.message-left,
.message-right {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.message-left {
  background: #f2f2f2;
  align-self: flex-start;
  color: black;
  font-weight: 500;
}

.message-right {
  background: rgba(89, 71, 192, 0.2);
  align-self: flex-end;
  color: black;
  font-weight: 500;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
  position: relative;
}

.input-container {
  display: flex;
  align-items: center;
  width: 95%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.input-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 20px;
  background: transparent;
  color: #333;
  margin-right: 40px;
}

.emoji-icon {
  position: absolute;
  right: 35px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}
.emoji-icon:hover {
  color: rgb(108, 88, 223);
}

.attach-icon {
  position: absolute;
  right: 10px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}
.attach-icon:hover {
  color: rgb(108, 88, 223);
}

.send-icon {
  font-size: 25px;
  color: #999;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.send-icon:hover {
  transform: scale(1.1);
  color: rgb(108, 88, 223);
}

/* Mobile-screen styles */
@media screen and (max-width: 768px) {
  .chat-app {
    flex-direction: column;
  }

  /* Hide sidebar on mobile */
  .chat-sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .chat-sidebar-icon {
    font-size: 20px;
    color: #333;
  }

  .chat-sidebar-icon:hover {
    color: rgb(108, 88, 223);
  }
  .chat-sidebar-bottom .profile-photo {
    display: none;
  }
  .fa-gear {
    margin-top: 17px;
  }
  .hidden {
    display: block;
  }
  .chat-list {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .chat-previews {
    width: 100%;
    padding: 10px;
  }

  .chat-sidebar-icons {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e6e9ef;
    padding: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  }

  .chat-sidebar-icon {
    font-size: 20px;
    color: #333;
  }

  .chat-sidebar-icon:hover {
    color: rgb(108, 88, 223);
  }
  .chat-header-icons i {
    font-size: 16px;
  }
  .chat-list-header,
  .chat-search-bar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  .chat-list-header {
    top: 70px;
  }

  .chat-search-bar {
    top: 130px;
  }

  .chat-previews {
    margin-top: 120px;
  }

  .chat-search-bar .search-input {
    width: 100%;
  }

  .chat-area {
    display: none;
  }

  .message-left,
  .message-right {
    max-width: 80%;
  }

  .message-left {
    background: #f2f2f2;
    align-self: flex-start;
  }

  .message-right {
    background: #d1f5d1;
    align-self: flex-end;
  }

  /* Chat input area */
  .message-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  }

  .message-input .input-container {
    display: flex;
    align-items: center;
  }

  .message-input input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
  }

  .message-input i {
    font-size: 20px;
  }

  .send-icon {
    font-size: 20px;
    cursor: pointer;
  }
}
/* css for ticket section======================================================= */
.ticket-dashboard {
  padding: 20px;
  padding-top: 80px;
}

/* Open & Close Buttons */
.openclose-btns {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.status-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}
.number-badge {
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  min-width: 25px;
  text-align: center;
}
.blue-badge {
  background-color: #007bff;
}

.grey-badge {
  background-color: #777;
}
/* Table Styling */
.ticket-table .div-table {
  overflow: auto;
}
.ticket-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
  margin-top: 20px;
}
.ticket-table th,
.ticket-table td {
  padding: 0px 12px;
  text-align: left;
  border: none;
}
.ticket-table th {
  color: #555555;
  font-size: 15px;
  background-color: transparent;
}
.ticket-table td {
  border: 1px solid #eee;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}
.status-text {
  background-color: black;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  display: inline-block;
}
.action-icons {
  display: flex;
  gap: 5px;
}
.action-icons button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  font-size: 14px;
  color: #000;
}

.edit-btn:hover i {
  color: #007bff;
  transform: scale(1.2);
}

.delete-btn:hover i {
  color: rgb(207, 32, 32);
  transform: scale(1.2);
}

/* css for left-border */
.left-border {
  position: relative;
  padding-left: 10px;
}

td[class*="color-"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.color-0::before {
  background-color: red;
}
.color-1::before {
  background-color: yellow;
}
.color-2::before {
  background-color: #1abc9c;
}
.color-3::before {
  background-color: #f39c12;
}
.color-4::before {
  background-color: #3498db;
}

/* media query for my ticket page */
@media (max-width: 768px) {
  .ticket-dashboard {
    padding-top: 100px;
  }
  .openclose-btns {
    margin-top: 20px;
    justify-content: start;
  }
}

/*---- css for add and filter page-------- */

.active-btn {
  background-color: #d32f2f !important;
  box-shadow: 0 0 5px rgba(66, 6, 6, 0.7);
  transform: scale(1.05);
}
.top-btns {
  display: flex;
  justify-content: end;
}

.top-btns button {
  margin-right: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.add-btn,
.filter-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.add-btn:hover,
.filter-btn:hover {
  background: #0056b3;
}
/* -------CSS for Add Page---------- */
.add-form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}
.form-field label {
  font-weight: bold;
  font-size: 14px;
  width: 120px;
  text-align: left;
}

.form-field input,
.form-field select,
.form-field textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
textarea {
  height: 80px;
}
.file-upload {
  display: flex;
  align-items: center;
}

.file-input {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.file-warning {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.submit-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  width: auto;
}

.submit-btn:hover {
  background: #218838;
}
/* ----------- Responsive Design ----------- */
@media (max-width: 768px) {
  .add-form-container {
    width: 95%;
    padding: 15px;
  }
  .form-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-field label {
    text-align: left;
    width: 100%;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .form-field input,
  .form-field select,
  .form-field textarea {
    width: 100%;
    font-size: 13px;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
  }
}
/*-------- css for filter page-----------*/
.filter-page {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.filter-heading h2 {
  text-align: left;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
  color: #000;
}
.filter-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.filter-field {
  display: flex;
  flex-direction: column;
}
.filter-field label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  color: #007bff;
}
.filter-field input,
.filter-field select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}
.filter-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.apply-btn,
.create-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.apply-btn:hover,
.create-btn:hover {
  background: #0056b3;
}
/* ----------- Responsive Design ----------- */
@media (max-width: 768px) {
  .filter-page {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
  }
  .apply-btn,
  .create-btn {
    padding: 5px 12px;
    font-size: 13px;
  }
}
