/* src/styles/EmployeeDashboard.css */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  z-index: 1000; 
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 30px;
  box-shadow: 0 2px 4px red;
}

.logo {
  color: navy;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: rgb(88, 73, 172);
  font-size: 18px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  background: white;
  transition: 0.3s, color 0.3s;
}

.nav-links a:hover, .nav-links .active {
  background: rgb(88, 73, 172);
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(88, 73, 172);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}        

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(88, 73, 172);
}

.dropdown-content a:last-child {
  border-bottom: none;
} 
.dropdown-content a:hover{
  background-color: rgb(88, 73, 172);       
}
.dropdown:hover .dropdown-content {
  display: block;       
}
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: rgb(88, 73, 172);
  margin: 4px 0;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: white;
      position: absolute;
      top: 60px;
      left: 0;
  }

  .nav-links li {
      text-align: center;
      margin: 10px 0;
  }

  .menu-icon {
      display: flex;
  }

  .nav-links.active {
      display: flex;
  }
}

/* css for dashboard */
.dashboard-container {
display: flex;
flex-wrap: wrap;
margin-top: 50px;
padding: 30px;
}

.left-side {
/* flex: 1; */
width: 300px;
background-color: #ffffff;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-section {
text-align: center;
}

.profile-image {
width: 250px;
height: 250px;
object-fit: cover;

}

.employee-name {
margin: 10px 0 5px 0;
font-size: 22px;
color: #555555;
}

.employee-role {
margin: 0;
font-size: 16px;
color: #777777;
}

.work-duration {
background-color: rgb(88, 73, 172);

padding: 10px;
margin: 15px 0;
border-radius: 5px;
}

.work-duration p {
margin: 0;
font-size: 14px;
color: white;
}

hr {
margin: 10px 0;
border: 0;
border-top: 1px solid #eeeeee;
}

.attendance-leaves-awards {
display: flex;
justify-content: space-between;
background-color: rgb(88, 73, 172);
padding: 10px;
margin: 15px 0;
border-radius: 5px;
}

.attendance-column, .leaves-column, .awards-column {
text-align: center;
}

.number {
margin: 0;
font-size: 18px;
color: white;
}

.label {
margin: 5px 0 0 0;
font-size: 14px;
color: white;
}


.birthdays-section {
text-align: left;
}

.birthdays-section p {
font-size: 18px;
color: #555555;
margin: 0 0 10px 0;
}

.cake-img {
width: 15px;
margin-left: 5px;
}

.birthday-person {
display: flex;
align-items: center;
}

.birthday-image {
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
}

.birthday-person p {
margin: 0;
font-size: 14px;
color: #555555;
}
.right-side {
flex: 2;
padding-left: 20px;

}

.details-container {
display: flex;
flex-wrap: wrap;
text-align: left;
}

.personal-company-details {
flex: 1;
margin-right: 20px;
}
.personal-company-details {
  flex: 1;
}
.details{
background-color: rgb(88, 73, 172);
padding: 10px;
margin: 15px 0;
border-radius: 5px;
}
.details h3{
margin: 0;
font-size: 14px;
color: white;
}
.personal-details, .company-details, .notice-board, .upcoming-holidays {
background-color: #ffffff;
color: #777777;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin-bottom: 20px;
}


.notice-board-upcoming-holidays {
flex: 1;
}

.notice-space {
width: 100%;
height: 200px;
border: 1px solid #ddd9d9;
text-align: center;
line-height: 200px;
}

.upcoming-holidays .holiday {
display: flex;
justify-content: space-between;
padding: 10px;
margin-top: 10px;
border-radius: 5px;
font-size: 14px;
}


.upcoming-holidays .holiday:nth-child(2) {
background-color: #e8f5e9; 
color: #388e3c; 
}

.upcoming-holidays .holiday:nth-child(3) {
background-color: #fffde7; 
color: #fbc02d; 
}

.upcoming-holidays .holiday:nth-child(4) {
background-color: #e3f2fd; 
color: #1976d2;
}
.upcoming-holidays .holiday:nth-child(5) {
background-color: #ffebee; 
color: #d32f2f;
}
@media (max-width: 768px) {
  .dashboard-container {
      flex-direction: column;
  }

  .left-side, .right-side {
      max-width: 100%;
  }
  .personal-details{
      margin-top: 20px;
  }
}
  
 
  